:root {
    --white: #FFFFFF;
    --backround: #F4F6F6;
    --dark-backround: #EAEDED;
    --font-light-color: #839192;

}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.main-container {
    margin: 0;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    margin: 3vh 15vw 3vh 5vw;
}

.dash-container {
    display: flex;
    justify-content: space-between;
    width: 65vw;
    margin-top: 2vh;
}

.dash {
    width: 13vw;
    height: 2px;
    border-radius: 1px;
    background-color: var(--font-light-color);
}

.arrow {
    width: 7vw;
}

.even-custom-container {
    display: flex;
    background-color: transparent;
    height: 6vh;
}

.even {
    display: flex;
    background-color: var(--dark-backround);
    margin: 0 0 0 5vw;
    align-items: center;
    height: 6vh;
    border-radius: 10px 0 0 10px;
}

.even p {
    padding-top: 5px;
    text-align: center;
    background-color: var(--white);
    width: 45vw;
    height: 4.5vh;
    margin: 0 0 0 2px;
    border-radius: 10px;
}

.custom {
    display: flex;
    background-color: var(--dark-backround);
    margin-right: 5vw;
    position: relative;
    height: 6vh;
    border-radius: 0 10px 10px 0;
}

.custom p {
    text-align: center;
    padding-top: 6px;
    background-color: var(--dark-backround);
    width: 45vw;
    height: 4vh;
    margin: 0;
    border-radius: 10px;
    color: var(--font-light-color);
}

.main-message {
    margin: 0;
}

.message {
    margin: 5vw;
    font-weight: 400;
}


.cost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0 6vw;
    color: var(--font-light-color);
}

.search {
    margin: 0 5vw 2vh;
}

.search-container {
    display: flex;
    padding-left: 3vw;
    background-color: var(--dark-backround);
    align-items: center;
    height: 5vh;
    border-radius: 8px;
    color: var(--font-light-color);
}

.search-icon {
    height: 3vh;
    margin-right: 5px;
}

.users-container {
    display: flex;
    flex-direction: column;
    border: transparent;
    margin: 0 5vw 2vh;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 2px var(--dark-backround);
}

.profile-container {
    display: flex;
    flex-direction: row;
    margin: 0 5vw 2vh;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.profile-container2 {
    display: flex;
    flex-direction: row;
    margin: 0 3vw;
    align-items: center;
    justify-content: space-between;
}

.profile-container1 {
    display: flex;
    flex-direction: row;
    margin: 5vh 7vw 2vh;
    align-items: center;
}

.mini-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-container {
    width: 11vw;
    height: 6vh;
    border-radius: 50%;
    margin-right: 7vw;
    background-color: var(--dark-backround);
}

.profile1 {
    object-fit: cover;
    padding: 20%;
    height: 3vh;
    width: 6vw;

}

.amount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.money {
    font-weight: bold;
    font-size: large;
    margin-bottom: 0;
}

.time {
    font-size: small;
    color: var(--font-light-color);
    margin-top: 0;
}

.add-container {
    width: 15vw;
    margin-right: 4vw;
    padding-top: 5px;
}

.add-new-friend {
    padding: 20%;
    border-radius: 50%;
    background-color: var(--dark-backround);
}

.profile {
    object-fit: cover;
    width: 11vw;
    height: 6vh;
    border-radius: 50%;
    margin-right: 7vw;

}

.user-name {
    font-weight: 600;
}

.button {
    display: flex;
    align-items: center;
    border-radius: 8px;
    height: 4vh;

    border: transparent;
    font-weight: 600;
}

.add-button {
    background-color: var(--dark-backround);
    width: 15vw;
}

.added-button {
    background-color: #E8E3F8;
    color: #790FC7;
    width: 18vw;
}

.check {
    object-fit: cover;
    width: 2.5vw;
    height: 1.5vh;
    margin-right: 1vw;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fee-message {
    margin: 3vh 10vw 3vh 10vw;
    text-justify: distribute;
    font-size: 10px;
    color: var(--font-light-color);
}

.next-button {
    width: 80%;
    height: 7vh;
    color: var(--white);
    background-color: #790FC7;
    border: transparent;
    border-radius: 10px;
    font-size: medium;
    font-weight: 600;
}