:root {
    --white: #FFFFFF;
    --backround: #F4F6F6;
    --dark-backround: #EAEDED;
    --font-light-color: #839192;

}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.main-container {
    margin: 0;
}

.icons-container {
    display: flex;
    justify-content: space-evenly;
}

.dash {
    width: 14vw;
}

.arrow {
    width: 10vw;
}

.main-message {
    margin: 0;
}

.message {
    margin: 5vw;
    font-weight: 400;
}

.search {
    margin: 0 5vw 2vh;
}

.search-container {
    display: flex;
    padding-left: 3vw;
    background-color: var(--dark-backround);
    align-items: center;
    height: 5vh;
    border-radius: 8px;
}

.search-icon {
    height: 3vh;
    margin-right: 5px;
}

.profile-container {
    display: flex;
    margin: 0 5vw 2vh;
    align-items: center;
}

.add-container {
    width: 15vw;
    margin-right: 4vw;
}

.add-new-friend {
    padding: 20%;
    border-radius: 50%;
    background-color: var(--dark-backround);
}

.profile {
    object-fit: cover;
    width: 11vw;
    height: 6vh;
    border-radius: 50%;
    margin-right: 7vw;

}

.user-name {
    font-weight: 600;
}

.add-button {
    display: flex;
    align-items: center;
    align-self: flex-end;
}