:root {
    --white: #FFFFFF;
    --backround: #F4F6F6;
    --dark-backround: #EAEDED;
    --font-light-color: #839192;

}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.main-container {
    margin: 0;
}

.icons-container {
    display: flex;
    justify-content: space-evenly;
}

.dash {
    width: 14vw;
}

.arrow {
    width: 10vw;
}

.main-message {
    margin: 0;
}

.message {
    margin: 5vw;
    font-weight: 400;
}

.switch-container {
    display: flex;
    flex-direction: row;
}

.switch1 {
    position: relative;
    display: inline-block;
    width: 40%;
    height: 5vh;
}

.switch2 {
    position: relative;
    display: inline-block;
    width: 40%;
    height: 5vh;
}

.switch1 input,
.switch2 input {
    display: none;
}

.slide {
    position: absolute;
}

.cost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0 6vw;
}

.search {
    margin: 0 5vw 2vh;
}

.search-container {
    display: flex;
    padding-left: 3vw;
    background-color: var(--dark-backround);
    align-items: center;
    height: 5vh;
    border-radius: 8px;
}

.search-icon {
    height: 3vh;
    margin-right: 5px;
}

.users-container {
    display: flex;
    flex-direction: column;
    border: transparent;
    margin: 0 5vw 2vh;
    border-radius: 15px;
    background-color: var(--backround);
}

.profile-container {
    display: flex;
    flex-direction: row;
    margin: 0 5vw 2vh;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.profile-container2 {
    display: flex;
    flex-direction: row;
    margin: 0 3vw;
    align-items: center;
    justify-content: space-between;
}

.profile-container1 {
    display: flex;
    flex-direction: row;
    margin: 0 5vw 2vh;
    align-items: center;
}

.mini-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.amount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.money {
    font-weight: bold;
    font-size: large;
    margin-bottom: 0;
}

.time {
    font-size: small;
    color: var(--font-light-color);
    margin-top: 0;
}

.add-container {
    width: 15vw;
    margin-right: 4vw;
}

.add-new-friend {
    padding: 20%;
    border-radius: 50%;
    background-color: var(--dark-backround);
}

.profile {
    object-fit: cover;
    width: 11vw;
    height: 6vh;
    border-radius: 50%;
    margin-right: 7vw;

}

.user-name {
    font-weight: 600;
}

.add-button {
    display: flex;
    align-items: center;
    border-radius: 8px;
    height: 4vh;
    width: 15vw;
    background-color: var(--dark-backround);
    border: transparent;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fee-message {
    margin: 3vh 10vw 3vh 10vw;
    text-justify: distribute;
    font-size: 10px;
}

.next-button {
    width: 80%;
    height: 7vh;
    color: var(--white);
    background-color: #790FC7;
    border: transparent;
    border-radius: 10px;
    font-size: medium;
    font-weight: 500;
}